@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

h1 {
    text-align: center;
    font-size: 2em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 800;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #05191b;
}

.container {
    position: relative;
    width: 1500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container .icon {
    width: 600px;
}

.container .icon path {
    fill:transparent;
    stroke-width: 20;
    stroke: #30d6ec
}

.container .icon.heart path {
    stroke-dasharray: 1575;
    stroke-dashoffset: 1575;
}

.container .icon.heart:hover path {
    animation: animate-heart 2s linear forwards;
}

@keyframes animate-heart {
    0% {
        stroke-dashoffset: 0;
    }

    40% {
        stroke-dashoffset: 1575;
    }

    80% {
        stroke-dashoffset: 3150;
        fill: transparent;
    }

    100% {
        stroke-dashoffset: 3150;
        fill: #30d6ec;
    }
}

.container .icon.star path {
    stroke-dasharray: 1770;
    stroke-dashoffset: 1770;
}

.container .icon.star:hover path {
    animation: animate-star 2s linear forwards;
}

@keyframes animate-star {
    0% {
        stroke-dashoffset: 0;
    }

    40% {
        stroke-dashoffset: 1770;
    }

    80% {
        stroke-dashoffset: 3540;
        fill: transparent;
    }

    100% {
        stroke-dashoffset: 3540;
        fill: #30d6ec;
    }
}

.container .icon.moon path {
    stroke-dasharray: 1550;
    stroke-dashoffset: 1550;
}

.container .icon.moon:hover path {
    animation: animate-moon 2s linear forwards;
}

@keyframes animate-moon {
    0% {
        stroke-dashoffset: 0;
    }

    40% {
        stroke-dashoffset: 1550;
    }

    80% {
        stroke-dashoffset: 3100;
        fill: transparent;
    }

    100% {
        stroke-dashoffset: 3100;
        fill: #30d6ec;
    }
}